/.idea/.idea.Lyra.dir/.idea/.gitignore
/.idea/.idea.Lyra.dir/.idea/.name
/.idea/.idea.Lyra.dir/.idea/copilot.data.migration.ask2agent.xml
/.idea/.idea.Lyra.dir/.idea/encodings.xml
/.idea/.idea.Lyra.dir/.idea/indexLayout.xml
/.idea/.idea.Lyra.dir/.idea/vcs.xml
/.idea/.idea.testLayr.dir/.idea/.gitignore
/.idea/.idea.testLayr.dir/.idea/copilot.data.migration.ask2agent.xml
/.idea/.idea.testLayr.dir/.idea/encodings.xml
/.idea/.idea.testLayr.dir/.idea/indexLayout.xml
/.idea/.idea.testLayr.dir/.idea/vcs.xml
